Flask
Jinja2
jsonschema
lxml
OWSLib
pyproj
requests
Shapely
Werkzeug
SQLAlchemy
psutil
psycopg2
gdal
-e git+https://github.com/ctu-geoforall-lab-projects/bp-pisl-2018-pywps.git@master#egg=pywps-master
